# PYTHON BASICS

In [2]:
a=123
b=90
print(a,b)

123 90

In [6]:
a=12
type(float(a))

float

In [7]:
a="tejaswini"
type(a)

str

In [12]:
s=12
type(str(s))

str

In [13]:
a=10
b=float(10)
print(b)

10.0

In [14]:
input()

12344

'12344'

In [21]:
c=int(input())
type(c)

12

int

### arithmetic operators
### relational operators
### logical operators
### assignment operators
### bitwise operators
### indentation
### membership opearators

* arithmetic operators

In [23]:
a=12
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

15
9
36
4.0
4
0

In [24]:
a**b

1728

In [25]:
pow(a,b)

1728

* relational operators

In [26]:
2==5

False

In [27]:
4>3

True

In [28]:
2<=2

True

* assignment operators

In [29]:
a=20
b=89
c=54
print(a,b,c)

20 89 54

In [ ]:
a=a+1

In [ ]:
a+=1

In [ ]:
a*=2

In [32]:
a=b=c
b

54

* logical operators

In [35]:
True and False

False

In [36]:
True or False

True

In [38]:
not False

True

* bitwise operators

In [41]:
4 & 7 # 4--100,7-111

4

In [42]:
4 | 7

7

In [44]:
~4

-5

* indentation

In [45]:
2==3

False

In [46]:
2 is 3

False

In [47]:
2 is not 3

True

* membership operator

In [50]:
a="padmavathi"
"a" in  "padmavathi"

True

In [51]:
"f" in a

False