# date:19 sep 2019
# strings
* Introduction about strings
* String indexing
  - positive
  - negative indexing
* String Slicing
* slicing string with stride
* functions on strings
  - len
  - min
  - max
* string methods
* string example programs
 # tasks
1. Take a string “Problem Solving Using Python”
2. Find the length of the string
3. Change the string to lowercase
4. Print the string in reverse order
5. Split the string
6. Print the string without spaces
7. Find how many times “s” is repeated in a given string
8. Take a string “python programming by python platforms”
###### Find how many times “python” is repeated 
10. convert sTrinG to string
11. add spaces between each letter "s t r i n g"

In [2]:
name="tejaswini"
print(type(name))

<class 'str'>

In [4]:
print(type(""))

<class 'str'>

In [8]:
type("&"),""

(str, '')

## indexing
* positive indexing
          `tejaswini`
          `012345678`
* negative indexing
         `t e j a s w i n i`
         `-9 -8 -7 -6 -5 -4 -3 -2 -1`

In [9]:
name1= input("enter any name")
print(name1[-1])
print(len(name1))

enter any nameteju
u
4

In [10]:
print(name[len(name1)-1])

a

In [11]:
name

'tejaswini'

In [15]:
print(name1[-4])
print(name[3])

t
a

# string slicing
"string"[stringvalue:endvalue]

In [17]:
name

'tejaswini'

In [19]:
name[:]   # value before column is included and after excluded

'tejaswini'

In [20]:
name[1:]

'ejaswini'

In [21]:
name[3:]

'aswini'

In [32]:
"abcdef"[5:6]
"python"[-1:]
"python"[-5:-3]

'yt'

In [33]:
"asdef"[2:5]

'def'

In [34]:
print('jupyter'[4:len('jupyter')])

ter

### slicing strings with stride
     slicing string with step value

In [39]:
n='python!'
(n[0:5:2])
n[::-1]

'!nohtyp'

In [40]:
n[-1:-6:-2]

'!ot'

In [43]:
n1="hunuman"
n1[-1:-4:-2]

'nm'

In [48]:
n2= "sri padmavathi"
print(n2[4:len(n2)])

padmavathi

In [49]:
print(n2[:3][::-1])
print(n2[-12::-1])

irs
irs

In [52]:
first_name='deepika'
last_name='settipalli'
nmae=first_name+""+last_name
nmae

'deepikasettipalli'

# functions on strings

In [57]:
print(len("gudivada"))  # it returns 
print(min("gudivada"))
print(max("gudivada"))
print(chr(97))
print(ord('a'))

8
a
v
a
97

In [64]:
p='sdetdgd'

In [65]:
",".join (p)

's,d,e,t,d,g,d'

In [66]:
'tejaswini kota'.title()

'Tejaswini Kota'

In [67]:
'tejaswini kota'.split()

['tejaswini', 'kota']

In [68]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [79]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

# tasks

##  "problem solving using python"
### task1:find the length of the string

In [70]:
a="problem solving using python"
len(a)

28

### change the string to lower case

In [72]:
"problem SOlving USing python".casefold()

'problem solving using python'

### print the string in reverse order

In [73]:
a[::-1]

'nohtyp gnisu gnivlos melborp'

### split the string

In [74]:
"problem solving using python".split()

['problem', 'solving', 'using', 'python']

### print the string without space

In [78]:
"".join("problem solving using python".split())

'problemsolvingusingpython'

### find how many 's' is repeated in a given string

In [91]:
print(a.count("s"))

2

### take a string "python programming by python platforms"
### find how many times pyhon is repeated

In [92]:
a="python programming by python platform"
print(a.count("python"))

2

### convert sTrinG to String

In [82]:
"sTrinG".casefold().title()

'String'

### add spaces between each letter"s t r i n g"

In [83]:
" ".join("string")

's t r i n g'

### convert python to *******python*******