# conditional statements

### simple if
### if-else
### else if
### nested if

In [1]:
a=10
if a==10:
    print("equal")

equal

In [2]:
if a==10:
    print("equal")
else:
    print("not equal")

equal

In [3]:
a=10;b=23;c=34
if a>b and a>c:
    print("a is largest number",a)
elif b>a and b>c:
    print("b is largest number",b)
else:
    print(c," is the largest number")

34  is the largest number

In [4]:
if a>b:
    if a>c:
        print("a is the largest")
elif b>c:
        print("b is largest")
else:
    print("c is largest")

c is largest

## for loop

for temp_var in sequence

In [9]:
for i in 1,2,3:
    print(i)

1
2
3

In [ ]:
for i in range(start,end,step)

In [11]:
for i in range(1,20,10):
    print(i)

1
11

In [16]:
str1="apssdc"
for i in str1:
    print(i,end=" ")

a p s s d c

In [3]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [89]:
n=int(input("enter a year"))
        if i%4==0:
            if i%100==0:
                if i%400==0:
                    print("it is leap year")
else:
    print("it is not leap year")

IndentationError: unexpected indent (<ipython-input-89-67a2ad050a93>, line 2)

### list the mutable
### list[]
### list the different data types

In [4]:
l1=[1,2,3]
type(l1)

list

In [9]:
l1[2]

3

In [3]:
l2=[12,3,45,55]
l2[2:3]

[45]

In [4]:
a="sri padmavathi mahila university"
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'thi m', 'hil', ' university']

list

In [5]:
"a".join(b)

'sri padmavathi mahila university'

## functions on list

* len
* min
* max
* sorted
* sum
* list methods
* list example progtammes

In [57]:
l1=[12,3,4,55,6,7]
len(l1)

6

In [58]:
le1=sorted(l1)

In [32]:
l1.append(1)

In [26]:
li=[1,2,3,2]
li.count(2)

2

In [35]:
li.index(1)

0

In [39]:
li.index(3)

2

In [46]:
li.index(2)

1

In [47]:
sum(li)

8

In [55]:
sorted(li)

[1, 2, 2, 3]

In [54]:
sorted(li,reverse=True)

[3, 2, 2, 1]

## to print n natural numbers using while loop

In [85]:
n=int(input("enter a number"))
i=1
while(i<=n):
    print(i)
    i=i+1

enter a number6
1
2
3
4
5
6

### check if the number is exist in agiven range

In [ ]:
n=int(input("enter the number"))
for i in range():

### print n number of itterations

In [101]:
n=int(input("enter a number"))
i=1
while(i<=n):
    print(n)
    i=i+1

enter a number2
2
2

In [6]:
d=input()
e=""
o=""
a=""
for i in d:
    if i.isalpha():
        a=a+i 
    else:
        if int(i)%2==0:
            e=e+i
        else:
            o=o+i
print(a,end="")
print("\n",e,end="")
print("\n",o,end="")

7jfw656378
jfw
 668
 7537