# Tuples

In [8]:
name="spmvv"

In [9]:
name1=name[0:3][::-1]

In [10]:
name1

'mps'

In [19]:
l=[1,2,3,'a','s']

In [20]:
l.remove(3)

In [21]:
l

[1, 2, 'a', 's']

In [22]:
b=12,2,3,"abg"

In [25]:
b,type(b)

((12, 2, 3, 'abg'), tuple)

In [27]:
a=('a',12,2.3,[1,2,3,4,'list'],(23,4,"65"))
a

('a', 12, 2.3, [1, 2, 3, 4, 'list'], (23, 4, '65'))

In [29]:
a

('a', 12, 2.3, [1, 2, 3, 4, 'list'], (23, 4, '65'))

In [33]:
a[-1][::-1]

('65', 4, 23)

In [34]:
a[3][1]

2

In [37]:
a[::4]

('a', (23, 4, '65'))

## tuple methods

In [38]:
a

('a', 12, 2.3, [1, 2, 3, 4, 'list'], (23, 4, '65'))

In [3]:
t1=(1,2,4,4,5,6)
print('count of 4 in a given touple',t1.count(4))
t1.index(4)

count of 4 in a given touple 2

2

In [42]:
t1.index(2)

1

In [6]:
input_=tuple(input())
for ele in input_[::-1]:
    print(ele,end="")

Apssdc
cdsspA

In [2]:
input_2=tuple(input())
print(input_2)
print("".join(input_2[::-1]))

apssdc
('a', 'p', 's', 's', 'd', 'c')
cdsspa

In [7]:
input_3=tuple('sri padmavati mahila university'.split())
for i in input_3:
    print(i)

sri
padmavati
mahila
university

In [18]:
input_4=tuple(input("").split(","))
s=0
for i in input_4:
    s=s+1
    
    print(s,".",i)

alekya,gireesha
1 . alekya
2 . gireesha

# sets

In [20]:
l=[1,2,3,4,45,6,6]
s=set(l)
s

{1, 2, 3, 4, 6, 45}

In [21]:
crs={'s','a','d'}

In [22]:
ord("a")

97

In [24]:
ord('z')

122

In [25]:
crs(0)

TypeError: 'set' object is not callable

In [29]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [30]:
a={1,2,3,4,5}
b={3,4,5,6,7}
a.intersection(b)

{3, 4, 5}

In [31]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
a.issubset(b)

False

In [35]:
b.issubset(a)

False

In [39]:
c={1,2,3,4,5}
d={2,3}
c.issuperset(d)

True

In [41]:
d.isdisjoint(c)

False

In [45]:
a.symmetric_difference(b)

{1, 2, 6, 7}

In [46]:
print(c,d)
c.symmetric_difference_update(d)

{1, 2, 3, 4, 5} {2, 3}

In [51]:
print(a.difference_update(b))

None

In [49]:
c.difference(d)

{1, 4, 5}

In [55]:
input1=set(input(""))
print(len(input1))
print(len(set(input())))

sddvfeesds
5
fghgf
3

# Dictionaries

In [57]:
detailes=['mstp','sep',2019,'apssde',20]
d_detaile={'program':,'mstp','month':'sep'}

SyntaxError: invalid syntax (<ipython-input-57-8d3a38f4284f>, line 2)

In [29]:
d1={1:'abc',2:123,'dict':{1:'a',2:'b'},'list':[1,2,3,4]}
print(d1)

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [41]:
d1['list']

[1, 2, 3, 4]

In [42]:
d1[1]

'abc'

In [43]:
d1[2]

123

In [10]:
programming={1:'c',2:"c++",3:"java","?"}
p_d={'name':"tejaswini",'age':21,'gender':"?"}

In [11]:
programming[4]='python'

In [12]:
programming

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

In [13]:
p_d['gender']="female"

In [14]:
p_d

{'name': 'tejaswini', 'age': 21, 'gender': 'female'}

In [15]:
len(p_d)

3

In [24]:
for i in p_d.keys():
    print(i)

name
age
gender

In [23]:
for i,j in p_d.items():
    print(i,j,sep=":")

name:tejaswini
age:21
gender:female

In [25]:
d.clear()
d

{}

In [30]:
d1

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [34]:
det=d1.copy()

In [35]:
det

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [44]:
d1['count']=20
d1

{1: 'abc',
 2: 123,
 'dict': {1: 'a', 2: 'b'},
 'list': [1, 2, 3, 4],
 'program': 20,
 'count': 20}

In [45]:
g={1:12,2:23}
f=g
f

{1: 12, 2: 23}

In [46]:
f[1]=2

In [47]:
f,g

({1: 2, 2: 23}, {1: 2, 2: 23})

In [50]:
a="tejaswini"
b="teju"

In [51]:
id(a),id(b)

(411730181680, 411730300688)

In [6]:
r="krishna adithya ram eshewr".split()
s=[]
for i in r:
    s.append(len(i))   
max(s) 
r[s.index(max(s))]

'krishna'

In [7]:
r=input("").split()
s=[]
for i in r:
    s.append(len(i))   
m=max(s)
for j in range(len(r)):
    if m==len(r[j]):
        print(r[j])

rte
rte

In [20]:
input2=input("").split()
if len(input2[0])==len(input2[1]):
    print("YES")
else:
    print("no")

jhh kjk
YES

In [10]:
n="Apollo Brix Chichi krish".split()
for name in n:
    o_len=len(name)
    set_len=len(set(name))
    if o_len!=set_len:
        print(name,end=" ")

Apollo Chichi