# Dictionaries

In [2]:
d={1:"teju"}

In [3]:
d[1]

'teju'

In [4]:
d[2]="alekya"

In [5]:
d

{1: 'teju', 2: 'alekya'}

In [14]:
d1={1:"name",2:"age",3:"gender"}

In [15]:
d1

{1: 'name', 2: 'age', 3: 'gender'}

In [16]:
d1.clear

In [37]:
d1={1:"name",2:"age",3:"gender"}

In [38]:
d2=d1.copy()

In [39]:
d2

{1: 'name', 2: 'age', 3: 'gender'}

In [40]:
d2.get(1)

'name'

In [41]:
d2.get(4,2)

2

In [42]:
d1.items()

dict_items([(1, 'name'), (2, 'age'), (3, 'gender')])

In [43]:
d1.keys()

dict_keys([1, 2, 3])

In [44]:
d1.values()

dict_values(['name', 'age', 'gender'])

In [45]:
d1.pop(1)

'name'

In [46]:
d1

{2: 'age', 3: 'gender'}

In [47]:
d1.popitem()

(3, 'gender')

In [48]:
d1

{2: 'age'}

In [49]:
d1

{2: 'age'}

In [58]:
d1.setdefault(2)
d1

{2: 'age', 1: None, 3: None}

In [59]:
d1[1]="teju"
d1

{2: 'age', 1: 'teju', 3: None}

In [3]:
a={"branch":{"ece","eee"},"dis":{"chittor","nellore"}}
a

{'branch': {'ece', 'eee'}, 'dis': {'chittor', 'nellore'}}

In [4]:
a["branch"]

{'ece', 'eee'}

In [5]:
contact={}
def createcontact(name,number):
     contact[name]=number
createcontact("teju",770271265)
print(contact)

{'teju': 770271265}

In [6]:
contact

{'teju': 770271265}

In [7]:
def newcontact(name,number):
    if name in contact:
        print("contact updated successfully") 
    else:
        contact[name]=number
        print(contact)
newcontact("bjhg",676464786)

{'teju': 770271265, 'bjhg': 676464786}

In [8]:
def cont(name,number):
    if name in contact:
        contact[name]=number
        print(contact)
        print("contact updated successfully")
    else:
        contact[name]=number
        print(contact)
        print("new contact created")
cont(input(),int(input())

SyntaxError: unexpected EOF while parsing (<ipython-input-8-c27f64a8c9ae>, line 11)

In [11]:
a="Andhra pradesh"
d={}
for i in a:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
print(d,end="")

{'A': 1, 'n': 1, 'd': 2, 'h': 2, 'r': 2, 'a': 2, ' ': 1, 'p': 1, 'e': 1, 's': 1}

In [14]:
d.get('a')

2

In [24]:
s=input()
sd={}
for i in s:
    sd[i]=sd.get(i,0)+1
print(sd)

fsef
{'f': 2, 's': 1, 'e': 1}