# conditional statements

### simple if
### if-else
### else if
### nested if

In [1]:
a=10
if a==10:
    print("equal")

equal

In [2]:
if a==10:
    print("equal")
else:
    print("not equal")

equal

In [7]:
a=10;b=23;c=34
if a>b and a>c:
    print("a is largest number",a)
elif b>a and b>c:
    print("b is largest number",b)
else:
    print(c," is the largest number")

34  is the largest number

In [8]:
if a>b:
    if a>c:
        print("a is the largest")
elif b>c:
        print("b is largest")
else:
    print("c is largest")

c is largest

## for loop

for temp_var in sequence

In [9]:
for i in 1,2,3:
    print(i)

1
2
3

In [ ]:
for i in range(start,end,step)

In [11]:
for i in range(1,20,10):
    print(i)

1
11

In [16]:
str1="apssdc"
for i in str1:
    print(i,end=" ")

a p s s d c

In [3]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
def divisible(n):
    for i  in range(1,n+1):
        if i%4==0:
        print(i) 
divisible(12)

IndentationError: expected an indented block (<ipython-input-2-0ebbff225c78>, line 4)

### list the mutable
### list[]
### list the different data types

In [4]:
l1=[1,2,3]
type(l1)

list

In [9]:
l1[2]

3

In [3]:
l2=[12,3,45,55]
l2[2:3]

[45]

In [4]:
a="sri padmavathi mahila university"
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'thi m', 'hil', ' university']

list

In [5]:
"a".join(b)

'sri padmavathi mahila university'

## functions on list

* len
* min
* max
* sorted
* sum
* list methods
* list example progtammes

In [28]:
l1=[12,3,4,55,6,7]
len(l1)

6

In [29]:
l1=sorted(l1)

In [30]:
l1.append(1)

In [26]:
li=[1,2,3,2]
li.count(2)

2